---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4">Empowering Your Business: Custom Solutions for the Modern Enterprise.</h1>
      <p class="lead mb-4">From server apps to impenetrable firewalls, we engineer success.</p>
      <a href="https://calendly.com/borealisbytes/30min" class="btn btn-light text-dark px-5 btn-lg">Hire us</a>
      <a href="{{site.baseurl}}/about" class="btn btn-secondary text-white px-5 btn-lg">About us</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" alt="an-engineer-working-with-laptop"
        src="{{site.baseurl}}/assets/images/intro.svg">
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
  {% if post.featured == true %}
  <div class="col-md-4 mb-5">
    {% include postbox.html %}
  </div>
  {% endif %}
  {% endfor %}
  </div>
</section>

<section class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <h2 class="font-weight-bold mb-2 text-center">Certified Partners</h2>
  </div>
  <div class="col-sm-4">
  </div>
</section>

<section class="row" style="margin-top: 20px;">
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-aws fa-2xl"></i>
  </div>
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-google fa-2xl"></i>
  </div>
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-github fa-2xl"></i>
  </div>
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-microsoft fa-2xl"></i>
  </div>
</section>
<div class="mt-2 col-md-12" style="padding-top: 50px;">

</div>

<section class="row" style="margin-top: 20px;">
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-digital-ocean fa-2xl"></i>
  </div>
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-wordpress-simple fa-2xl"></i>
  </div>
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-gitlab fa-2xl"></i>
  </div>
  <div class="col-lg-3 text-center">
    <i class="fa-brands fa-shopify fa-2xl"></i>
  </div>
</section>

<div class="mt-2 col-md-12" style="padding-top: 70px;">

</div>

<section class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <h2 class="font-weight-bold mb-4 text-center">Blog & News</h2>
  </div>
  <div class="col-sm-4">
  </div>
</section>

<div class="rounded mb-5">
  <section class="row">
    <div class="col-sm-12">
      <div class="row">
        {% for post in paginator.posts %}
        {% unless post.featured == true %}
        <div class="col-md-4 mb-5">
          {% include postbox.html %}
        </div>
        {% endunless %}
        {% endfor %}
      </div>
      <!-- Pagination -->
      <div class="bottompagination">
        <span class="navigation" role="navigation">
          {% include pagination.html %}
        </span>
      </div>
    </div>
  </section>
</div>

<div class="mt-2 col-md-12" style="padding-top: 10px;">

</div>

<section class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <h2 class="font-weight-bold mb-4 text-center">Testimonials</h2>
  </div>
  <div class="col-sm-4">
  </div>
</section>
<section class="row">
  <div class="col-sm-6">
    <blockquote>
      <span class="font-weight-bold mb-4 text-center">

        Working with Borealis Bytes has been an exceptional experience. Their solutions are innovative, and they've
        helped us optimize our operations in ways we never thought possible. If you're looking for a partner who can
        deliver results and exceed expectations, look no further than Borealis Bytes.


      </span>
    </blockquote>
    <cite>Emily Thompson, CEO at TechSolutions</cite>
  </div>
  <div class="col-sm-6">
    <blockquote>
      <span class="font-weight-bold mb-4 text-center">
        Borealis Bytes has been a game-changer for our business. Their expertise in data analytics has helped us make
        data-driven decisions that have significantly improved our performance. The team is not only skilled but also
        extremely responsive and dedicated to understanding our unique needs. Highly recommended!
      </span>
    </blockquote>
    <cite>Mark Johnson, Director of Operations at InnovateCorp</cite>
  </div>
</section>
<!-- Posts List with Sidebar (except featured)
================================================== -->