<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section text-center">        
        <a href="https://twitter.com/GuildlessGamers/"><img src="{{site.baseurl}}/assets/images/kijza1.png"></a>
        <a class="btn btn-primary text-white px-5 btn-lg" href="https://twitter.com/GuildlessGamers/">Follow us on Twitter!</a>
        <h5><span>twitter.com/GuildlessGamers</span></h5>
    </div>
</div>