<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section text-center">        
        <a href="https://twitter.com/GuildlessGamers/"><img src="{{site.baseurl}}/assets/images/kijza1.png"></a>
        <h5><span>Follow us on</span></h5>
        <a class="btn btn-primary btn-block text-white white-space" href="https://twitter.com/GuildlessGamers/">Twitter</a>

    </div>
</div>